<!--
  Generated template for the HistoricoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Histórico</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<div><h1>Histórico</h1></div>

    
      <ion-card *ngFor="let historico of enderecos" >
        <ion-card-content>
     
        <div>
       
            {{historico.cep}}
    
        </div>
  
           <div >
        
           {{historico.logradouro}}
        
        </div>
           <div >
       
            {{historico.bairro}}
        
        </div>
           <div>
    
            {{historico.cidade}}
     
        </div>
           <div>
      
            {{historico.estado}}
        
        </div>
      </ion-card-content>
      </ion-card>

</ion-content>
